

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

body
{ background-image: url(../images/paper.png); }

ul
{
list-style-type:none;
margin:auto;
padding:0;
overflow:hidden;
}
li
{
float:left;
}
a:link,a:visited
{
display:block;
width:120px;
font-weight:bold;
color:#FFFFFF;
background-color: rgb(59,71,140);
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:rgb(0,102,204)
}
h3
{
	font:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:rgb(211,151,101);
	text-shadow: 4px 4px rgb(0,51,0);
}
h1,h5,h4
{ font-family:"Arial Black", Gadget, sans-serif;
  color:rgb(59,71,140);
  text-shadow: 3px 3px rgb(242,225,194);
   	
}
p
{
	border:1px solid rgb(0,153,153);
	
	color:rgb(37,39,51);
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    	
}

	form {
	margin:20px;
	background-color: rgb(244,192,124);
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/